---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
@import "variables";

// Bulma
@import "bulma";

// Header
.hero {
  background-color: rgba(255, 204, 0, 0.625); // #FFCC00

  > .container {
    max-width: 1100px;
  }

  .nav {
    box-shadow: none;
  }

  .is-brand img {
    max-height: 60px;
  }

  .jumbotron {
    .title {
      font-weight: $weight-title-bold;
    }
    .subtitle {
      font-weight: $weight-title-normal;
    }
  }
}

.features {
  .column {
    padding: 40px 10px;
  }

  .title {
    .icon {
      color: #FFCC00;
      margin-right: 20px;
    }
  }
}

.sidebar {
  .menu-list {
    a {
      &:hover {
        background-color: transparent;
        color: #FFCC00;
      }
    }
  }
}
