<footer>
  <div class='container'>
    <div class='row'>
      <div class='one-half column'>
        <ul class='inline-list'>
          <li><a href='{{ site.repository_url }}'>Repository</a></li>
          <li><a href='/docs/{{ site.latest_version }}'>Documentation</a></li>
          <li><a href='/releases.html'>Releases</a></li>
          <li><a href='/blog'>Blog</a></li>
        </ul>
      </div>

      <div class='one-half column text-right'>
        <a href='http://futurespace.io' class="no-hover-dec"> <span class='octicon octicon-code'></span> with <span class='octicon octicon-heart'></span> by FutureSpace.io </a>
      </div>
  </div>
</footer>
