<header>
  <div class='top-bar'>
    <div class='container'>
      <div class='row'>
        <div class='four columns'>
          <ul class='navigation inline-list'>
            <li><a href='/#built-on-trek'>Built on Trek</a></li>
            <li><a href='/#get-started'>Get Started</a></li>
            <li class="logo"><a class='trek-word logo' href='/'>{{ site.title }}</a></li>
          </ul>
        </div>
        <div class='eight columns text-right'>
          <ul class='navigation inline-list'>
            <li><a href='{{ site.repository_url }}'>Repository</a></li>
            <li><a href='/docs/{{ site.latest_version }}'>Documentation</a></li>
            <li><a href='/blog'>Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
